# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# OS / editor files
.DS_Store
.idea/
.vscode/

# Local data & secrets
data/config.json
logs/

# Ignore .env file containing sensitive information
.env
